.mono{
    font-family: 'Courier New', Courier, monospace;

}
.bold{
    font-weight: bold;
}
.pink-white{
    color:#f0c0c0;
}
.imagecat01{
    width: 500px;
    height: 500px;
align-items: center;
}